<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>Price Pie [#SummerOfLove]</title>
        <!-- css -->
        <style type="text/css">
            h1, h2 {
                text-align: center;
            }
            a {
                text-decoration: none
            }
        </style>
        <!-- js -->
        <script src="/static/js/jquery-1.7.2.min.js" type="text/javascript"></script>
        <script src="/static/js/highcharts.js" type="text/javascript"></script>
        <script>
            function drawPie(element, radius, data) {
                var el = $('<div>').appendTo(element);
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: el[0],
                    },
                    title: {
                        text: 'Test'
                    },
                    plotOptions: {
                        pie: {
                        }
                    },
                    series: [{
                        type: 'pie',
                        data: data
                    }]
                });
            };

            $(document).ready(function() {
                // draw all the charts from the data
                {% for pie in pies %}
                    drawPie($("#piecontainer"), 100, {{ pie.fieldarray }});
                {% endfor %}
            });
        </script>
    </head>
    <body>
        <h1>PricePie chart examples</h1>
        <h2>#SummerOfLove</h2>
        <center><a href="raph.html"><button>g.Raphael</button></a></center>
        <br/>
        <center><div id="piecontainer"></div></center>
    </body>
</html>

