<!DOCTYPE html> 
<html> 
	<head> 
	<title>My Page</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
</head> 
<body> 

<div data-role="page">

	<div data-role="header">
		<h1>My Title</h1>
	</div><!-- /header -->

	<div data-role="content">	
        <h2>we paid</h2>
        <h3>{{ pie.f1 }}%</h3>
        <h2>we pay staff</h2>
        <h3>{{ pie.f2 }}%</h3>
        <h2>we donate</h2>
        <h3>{{ pie.f3 }}%</h3>
        <h2>we re-invest</h2>
        <h3>{{ pie.f4 }}%</h3>
        <h2>we keep</h2>
        <h3>{{ pie.f5 }}%</h3>
	</div><!-- /content -->

</div><!-- /page -->

</body>
</html>
